In [1]:
s1=["a","b","c"]
s2=["com","b","d","p","c"]

In [2]:
def solution(s1,s2):
    return len(set(s1).intersection(s2))

In [3]:
solution(s1,s2)

2

In [16]:
print(set(s1))
print(set(s2))
print(set(s1).intersection(s2))
print(set(s2).intersection(s1))

{'a', 'b', 'c'}
{'com', 'b', 'c', 'p', 'd'}
{'b', 'c'}
{'b', 'c'}

In [1]:
s1 = [1,2,3,4,5,6,7,8,9,10]
s2 = [1,3,5,7,9]
s3 = [2,4,6,8,10]
print(set(s1,s2))

TypeError: set expected at most 1 argument, got 2

In [26]:
import re
str="hi12392"
# numbers=re.findall(r'\d',str)
numbers=re.sub(r'[^0-9]','',str)
print(numbers,type(numbers))

12392 <class 'str'>

In [1]:
ls = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o']

for i, data in enumerate(ls):
    print(i, data)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o

In [1]:
def fn(a):
    return a

def fn1(a :int) -> bool:
    return a

In [2]:
a = {k:v for k,v in original.items()}

NameError: name 'original' is not defined

In [5]:
a = [i for i in range(10000)]
b = range(10000)

In [10]:
print(sys.getsizeof(a))
print(sys.getsizeof(b))

85176
48

In [31]:
def solution(n):
    answer = str(n)
    a = list(answer)
    a.sort(reverse=True)
    a = "".join(a)
    
    return a
    




n = 118372
print(solution(n))

873211

In [34]:
def sol(n):
    t=1
    while True:
        if n % t ==1:
            print(t)
            break
        t+=1

sol(10)
sol(12)

3
11

In [1]:
def add(num):
    sum=0
    for i in range(1, num+1,1):
        sum = sum+i
    return sum

num = int(input())
res = add(num)
print("1~ {}까지 합은 {}".format(num,res))

1~ 5까지 합은 15

In [3]:
text=  "I'm boy"
text1 = "Python is easy"
text2 = '''I'm boy, and Python is easy'''
'''이건 과연 출력이될까'''
'''
이건?
이건?
이건?
'''
text3 = '''
아마 이건 출력이 될거같네요.
아마도?
'''

print(text)
print(text1)
print(text2)
print(text3)

I'm boy
Python is easy
I'm boy, and Python is easy

아마 이건 출력이 될거같네요.
아마도?

In [1]:
cmd1 = "ls"
cmd2 = "df"
cmd3 = "hostname"
cmds = [cmd1,cmd2,cmd3]

for i , command in enumerate(cmds):
    print(i, command)

0 ls
1 df
2 hostname

In [7]:
#  피자 조각 2 ~ 12조각까지 원하는 조각수
'''
피지조각수 = slice
피자먹는사람 수 = n
ceil() -> 인자로 들어온 x의 올림 값을 반환 한다.
ex )
ceil(1.0) => 1
ceil(1.1) => 2
ceil(1.2) => 2
ceil(1.5) => 2
ceil(2.1) => 3
ceil(-3.2) => -3
'''
import math

slice = 4
n = 12
def sol(slice,n):
    return math.ceil(n/slice)

sol(4,12)

3

In [12]:
print(math.ceil(10/7))
print(10/7)

2
1.4285714285714286

In [6]:
def sol(slice,n):
    return ((n-1) // slice) +1

sol(slice,n)

3

In [16]:
# n 사람 수
n = 6

def sol(n):
    answer=0
    return answer

In [21]:
n = 10
pizza = 6
while pizza % n != 0:
    print(pizza, pizza%n)
    pizza+=6

'''

import math

def solution(n):
    return (n * 6) // math.gcd(n, 6) // 6
'''

6 6
12 2
18 8
24 4

In [ ]:
# 옷가게 할인받기.
def solution(price):
    discount=0
    if price >= 100000 and price < 300000:
        discount = price * 0.05
        answer = price - discount
        
    elif  price >= 300000 and price < 500000:
        discount = price * 0.1
        answer = price - discount
        
    elif price >= 500000:
        discount = price * 0.2
        answer = price - discount
    
    else:
        answer = price
    return answer
'''
내가 찾아쓴거
def solution(price):
    if price >= 500000:
        return int(price * 0.8)
    if price >= 300000:
        return int(price * 0.9)
    if price >= 100000:
        return int(price * 0.95)
    return int(price)
'''
'''
def solution(price):
    discount_rates = {500000: 0.8, 300000: 0.9, 100000: 0.95, 0: 1}
    for discount_price, discount_rate in discount_rates.items():
        if price >= discount_price:
            return int(price * discount_rate)
'''

In [31]:
# 타입 힌팅(type hinting)
num = 1 # type : int
def repeat(message, times=2):
    # type : (str, int) -> list
    return [message] * times

# 타입 어노테이션(type annotation)
num: int = 1
def repeat(message:str, times:int = 2) -> list:
    return [message] * times

# 변수 타입 어노테이션(annotation) -> 주석 
name : str = "BOB"
age : int = 29
email: list = ["bob@google.com",'bob@naver.com']
address: dict = {
    "street" : "Jung Jo Ro 111",
    "city" : "Suwon",
}

# 함수 타입 어노테이션
#def 함수명(<필수 인자>: <인자 타입>, <선택 인자>: <인자타입> = <기본값>) -> <반환 타입>:
def change(num:int) -> str:
    return str(num)

def plus(num1 : int, num2: float = 3.5) -> float:
    return num1 + num2

def greet(name : str) -> None:
    return "Hi" + name

In [3]:
for i in range(97,123):
    print(chr(i), end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [20]:
# 프로그래머스 외계행성 나이
t1 = 23
t2 = 51
t3 = 100
text=''

def sol(age):
    answer=''
    for i in str(age):
        answer += chr(int(i)+97)
    return answer

print(sol(t1))
print(sol(t2))
print(sol(t3))

cd
fb
baa

In [55]:
# 진료순서 정하기
def solution(emergency: list) -> list:
    dict = {num: index for index, num in enumerate(sorted(emergency, reverse=True), start=1)}
    ls = [i for i in enumerate(sorted(emergency,reverse=True),start=1)]
    print(ls)
    # for index, rank in enumerate(sorted(emergency, reverse=True), start=1):
    #     dic[index] = rank
    #     print(dic)
    print(dict)
    for i in emergency:
        print(i)
        print(dict[i])


    # return [dict[x] for x in emergency]

print(solution([3, 76, 24]))             # [3, 1, 2]
# print(solution([1, 2, 3, 4, 5, 6, 7]))   # [7, 6, 5, 4, 3, 2, 1]
# print(solution([30, 10, 23, 6, 100]))    # [2, 4, 3, 5, 1]

[(1, 76), (2, 24), (3, 3)]
{76: 1, 24: 2, 3: 3}
3
3
76
1
24
2
None

In [4]:
# lambda func
def plus_ten(x):
    return x +10

print(plus_ten(1))

11

In [6]:
plus = lambda x: x +10
print(plus(1))

11

In [7]:
(lambda x: x+10)(1)

11

In [8]:
y=10
(lambda x: x+y)(1)

11

In [9]:
list(map(plus_ten,[1,2,3]))

[11, 12, 13]

In [10]:
list(map(lambda x : x +10, [1,2,3]))

[11, 12, 13]

In [27]:
li = [4,6,1,10]
length_li = len(li)
for i in range(length_li-1):
    # print(i)
    for j in  range(length_li-i-1):
        # print(j,end="")
        if li[j] > li[j+1]:
            li[j], li[j+1] = li[j+1], li[j]
        print(i, j, j+1, li)
    print()

0 0 1 [4, 6, 1, 10]
0 1 2 [4, 1, 6, 10]
0 2 3 [4, 1, 6, 10]

1 0 1 [1, 4, 6, 10]
1 1 2 [1, 4, 6, 10]

2 0 1 [1, 4, 6, 10]

In [30]:
rows = 3
cols = 5
s = []
for row in range(rows):
    s += [ [0]*cols]
print("s = ", s)

t = [([1]*cols) for x in range(rows)]
print(t)

s =  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [34]:
s = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
rows = len(s)
cols = len(s[0])

for r in range(rows):
    for c in range(cols):
        print(s[r][c], end="\t")
    print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15

In [36]:
table=[]
for row in range(10):
    table += [ [0] * 10]
print(table)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [40]:
n = [1,2,3,4,5,6,7,8]
m = 2

In [41]:
import numpy as np

def sol(n,m):
    li = np.array(n).reshape(-1,m)
    return li.tolist()

In [42]:
sol(n,m)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [54]:
t = np.array(n)
print(t)
t = t.reshape(-1,m)
print(t)
t = t.tolist()
print(t)

[1 2 3 4 5 6 7 8]
[[1 2]
 [3 4]
 [5 6]
 [7 8]]
[[1, 2], [3, 4], [5, 6], [7, 8]]

In [4]:
import pandas as pd

df = pd.DataFrame({'col1':['A','B','B','A','B','B','A'],
'col2':[2,3,4,5,6,7,8]})

df

  col1  col2
0    A     2
1    B     3
2    B     4
3    A     5
4    B     6
5    B     7
6    A     8

In [6]:
df.loc[[1]]

  col1  col2
1    B     3

In [11]:
print(df.iloc[1:3].sum(numeric_only=True))

col2    7
dtype: int64

In [1]:
box = [10,8,6]
n = 3

In [15]:
# 주사위 개수 - 프로그래머스
def multi(nums: list) -> int:
    result = 0

    for x in nums:
        print("x = {}".format(x))
        if not result:
            result = x
            print("result = {}".format(result))
            continue
        result *= x

    return result

def solution(box: list, n: int) -> int:
    return multi([x//n for x in box]) # 몫만 계산 됨 1,1,1 / 3,2,2

In [16]:
if __name__ == '__main__':
    print(solution([1, 1, 1], 1))    # 1
    print(solution([10, 8, 6], 3))   # 12

x = 1
result = 1
x = 1
x = 1
1
x = 3
result = 3
x = 2
x = 2
12

In [5]:
# 합성수 구하기 - 프로그래머스
n = 10
num=[]
answer = 0

for i in range(2, n+1): # n까지 돌려버리기(전체범위)
    print("i 값 = {}".format(i))
    for j in range(1,i+1): # 합성수 인지 아닌지 파악
        print("j 값 = {}".format(j),end=" ")
        if i % j ==0:   #i가 j의 약수인지 아닌지 판별
            num.append(i)
        print(num)
    if num.count(i) >=3: # 리스트안에 i값이 3개이상일 경우에 answer +1하기
        print("i의 값 : {}".format(num.count(i)))
        answer+=1
    num=[]
    print()
print(answer)

i 값 = 2
j 값 = 1 [2]
j 값 = 2 [2, 2]

i 값 = 3
j 값 = 1 [3]
j 값 = 2 [3]
j 값 = 3 [3, 3]

i 값 = 4
j 값 = 1 [4]
j 값 = 2 [4, 4]
j 값 = 3 [4, 4]
j 값 = 4 [4, 4, 4]
i의 값 : 3

i 값 = 5
j 값 = 1 [5]
j 값 = 2 [5]
j 값 = 3 [5]
j 값 = 4 [5]
j 값 = 5 [5, 5]

i 값 = 6
j 값 = 1 [6]
j 값 = 2 [6, 6]
j 값 = 3 [6, 6, 6]
j 값 = 4 [6, 6, 6]
j 값 = 5 [6, 6, 6]
j 값 = 6 [6, 6, 6, 6]
i의 값 : 4

i 값 = 7
j 값 = 1 [7]
j 값 = 2 [7]
j 값 = 3 [7]
j 값 = 4 [7]
j 값 = 5 [7]
j 값 = 6 [7]
j 값 = 7 [7, 7]

i 값 = 8
j 값 = 1 [8]
j 값 = 2 [8, 8]
j 값 = 3 [8, 8]
j 값 = 4 [8, 8, 8]
j 값 = 5 [8, 8, 8]
j 값 = 6 [8, 8, 8]
j 값 = 7 [8, 8, 8]
j 값 = 8 [8, 8, 8, 8]
i의 값 : 4

i 값 = 9
j 값 = 1 [9]
j 값 = 2 [9]
j 값 = 3 [9, 9]
j 값 = 4 [9, 9]
j 값 = 5 [9, 9]
j 값 = 6 [9, 9]
j 값 = 7 [9, 9]
j 값 = 8 [9, 9]
j 값 = 9 [9, 9, 9]
i의 값 : 3

i 값 = 10
j 값 = 1 [10]
j 값 = 2 [10, 10]
j 값 = 3 [10, 10]
j 값 = 4 [10, 10]
j 값 = 5 [10, 10, 10]
j 값 = 6 [10, 10, 10]
j 값 = 7 [10, 10, 10]
j 값 = 8 [10, 10, 10]
j 값 = 9 [10, 10, 10]
j 값 = 10 [10, 10, 10, 10]
i의 값 : 4

5

In [4]:
# 소인수분해
def sol(n):
    answer=[]
    t=[]
    i=2

    while i <=n:
        if n % i == 0:
            t.append(i)
            n = n//i
        else:
            i+=1

    for i in t:
        if i not in answer:
            answer.append(i)
    return answer


sol(12)

[2, 3]

In [12]:
from math import sqrt
a = 20

ls = [x*x for x in range(a)]
print(ls)
print(sqrt(9))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
3.0

In [20]:
def sol(n):
    print("임의의 제곱수 {}".format(n))
    for i in range(1,1001):
        # print("i의 값은 {} 제곱은 {}".format(i, i*i))
        if i*i == n:
            print("n은 i의 제곱수이다. n은 {} i는 {}".format(n,i))

In [21]:
sol(144)

임의의 제곱수 144
n은 i의 제곱수이다. n은 144 i는 12

In [68]:
def sol(text, code):
    answer = ''
    for i,char in enumerate(text, start=1):
        if i % code == 0:
            answer += char
            print(answer)
    return answer

In [69]:
text = "dfjardstddetckdaccccdegk"
code = 4
sol(text,code)

a
at
att
atta
attac
attack

'attack'

In [70]:
print("^".join("Python"))

P^y^t^h^o^n

In [25]:
# https://chan-lab.tistory.com/30 스택에 대해서 알아야함
# 컨트롤 제트
s = "1 2 Z 3"
answer=[] # stack
for i in s.split():
    try:
        num = int(i)
        answer.append(num)
    except:
        if answer:
            pop_data = answer.pop()
    print('stack : ', answer)
print("result : " ,sum(answer))

stack :  [1]
stack :  [1, 2]
stack :  [1]
stack :  [1, 3]
result :  4

In [56]:
#가까운 수
array=[3, 10, 28]	
n = 20

# def sol(array,n):
#     for i,j in enumerate(array):
#         print(abs(j-n))
# sol(array,n)

def sol(array,n):
    box=[]
    print(array)
    array.sort()
    print(array)
    for i in array:
        print(f"{n}-{i}")
        box.append(abs(n-i))
    answer = [array[box.index(min(box))]] # min(box)=8, box.index(8) = 2, array[2] = 28,
    if len(answer) > 1:
        return min(answer)
    else:
        return answer[0]

sol(array,n)

[3, 10, 28]
[3, 10, 28]
20-3
20-10
20-28

28

In [130]:
# 369 게임
order = 369369

def sol(order):
    answer = str(order).count('3') + str(order).count('6') + str(order).count('9')
    return answer

print(sol(order))

6

In [129]:
# A로 B만들기
before = "allpe"
after = "apple"

def sol(before,after):
    return 1 if sorted(before) == sorted(after) else 0

print(sol(before,after))

0

In [128]:
# k 개수
def sol(i,j,k):
    print(i,j,k)
    answer=0
    for i in range(i, j+1):
        for j in list(str(i)):
            print(j, end=" ")
            if j == str(k):
                answer+=1
    return answer

In [127]:
if __name__ == '__main__':
    print(sol(10,50,5))
    # print(sol(1,13,1))
    # print(sol(3,10,2))

10 50 5
1 0 1 1 1 2 1 3 1 4 1 5 1 6 1 7 1 8 1 9 2 0 2 1 2 2 2 3 2 4 2 5 2 6 2 7 2 8 2 9 3 0 3 1 3 2 3 3 3 4 3 5 3 6 3 7 3 8 3 9 4 0 4 1 4 2 4 3 4 4 4 5 4 6 4 7 4 8 4 9 5 0 5

In [193]:
def sol(s):
    dict={}
    answer = []
    for word in s:
        if word in dict:
            dict[word] = dict[word]+1
        else:
            dict[word]=1
    for k,v in dict.items():
        if v == 1:
            # answer +=k
            answer.append(k)
    return ''.join(sorted(answer))

In [196]:
def sol(s):
    # answer = ''.join(sorted([i for i in s if s.count(i) == 1]))
    # return answer
    return ''.join(sorted([i for i in s if s.count(i) == 1]))

In [197]:
if __name__ == '__main__':
    print(sol("abcabcadc"))
    print(sol("abdc"))
    print(sol("hello"))

d
abcd
eho

In [198]:
# 숨어있는 숫자의 덧셈(2)
import re
def solution(my_string):
    # text = re.findall(r"[0-9]+",my_string)
    # answer=0
    # for i in text:
    #     answer+=int(i)
    # return answer

    return sum([int(i) for i in re.findall(r'[0-9]+',my_string)])

In [207]:
def sol(s):
    nums = ["zero","one","two","three","four","five","six","seven","eight","nine"]
    print(s)
    for i,j in enumerate(nums):

        s = s.replace(j,str(i))
    print(s)

In [208]:
if __name__ == '__main__':
    print(sol("onetwothreefourfivesixseveneightnine"))
    print(sol("onefourzerosixseven"))

onetwothreefourfivesixseveneightnine
123456789
None
onefourzerosixseven
14067
None

In [214]:
def solution(my_str, n):
    answer=0
    for i in range(0,len(my_str),n):
        print(i)


    # return [my_str[i:i+n] for i in range(0, len(my_str),n)]



solution("abc1Addfggg4556b",6)

0
6
12

In [232]:
sides = [1,2]

def sol(sides):
    # print(sides)
    # print(sorted(sides)[0])
    # print(sorted(sides)[0]*2)
    # return (sorted(sides)[0] * 2 ) -1

    # sides.sort(reverse=True)
    # if sides[0] < sides[1] + sides[2]:
    #     return 1
    # else:
    #     return 2

    return 1 if max(sides) < (sum(sides) - max(sides)) else 2

print(sol([3,6]))

2